<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.jdcoding.houbllaa.HouBlaaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouBlaa"
        tools:targetApi="31">
        
        <!-- Splash Screen - Launcher Activity -->
        <activity
            android:name="com.jdcoding.houbllaa.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HouBlaa.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Authentication Activities -->
        <activity
            android:name="com.jdcoding.houbllaa.auth.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.HouBlaa.NoActionBar" />
        
        <activity
            android:name="com.jdcoding.houbllaa.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.HouBlaa.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name="com.jdcoding.houbllaa.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.HouBlaa.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name="com.jdcoding.houbllaa.auth.ProfileSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.HouBlaa.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Main Activity -->    
        <activity
            android:name="com.jdcoding.houbllaa.MainActivity"
            android:exported="false"/>
            
    </application>

</manifest>